# Eslint 会忽略的文件

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock
pnpm-lock.yaml
package-lock.json

# 自定义组件
src/components/custom/richTextEditor/*
src/components/custom/gridTable/*

# 自动引入生成文件
src/styles/auto-imports.d.ts
src/styles/components.d.ts
