@font-face {
  font-family: "Alibaba-Heavy"; //重命名字体名
  src: url("https://yunjing-shop-prod.oss-cn-zhangjiakou.aliyuncs.com/resources/Alibaba-PuHuiTi-Heavy.ttf"); //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba-Bold"; //重命名字体名
  src: url("https://yunjing-shop-prod.oss-cn-zhangjiakou.aliyuncs.com/resources/Alibaba-PuHuiTi-Bold.ttf"); //引入字体
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alibaba-Regular"; //重命名字体名
  src: url("https://yunjing-shop-prod.oss-cn-zhangjiakou.aliyuncs.com/resources/Alibaba-PuHuiTi-Regular.ttf"); //引入字体
  font-weight: normal;
  font-style: normal;
}
