@font-face {
  font-family: "YJSHHT"; /* Project id 3673439 */
  src: url('//at.alicdn.com/t/c/font_3673439_78r6ai9oa26.woff2?t=1692431465161') format('woff2'),
       url('//at.alicdn.com/t/c/font_3673439_78r6ai9oa26.woff?t=1692431465161') format('woff'),
       url('//at.alicdn.com/t/c/font_3673439_78r6ai9oa26.ttf?t=1692431465161') format('truetype'),
       url('//at.alicdn.com/t/c/font_3673439_78r6ai9oa26.svg?t=1692431465161#YJSHHT') format('svg');
}

.YJSHHT,.iconfont,[class^="YJSHHT-"],[class*=" YJSHHT-"] {
  font-family: "YJSHHT" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.YJSHHT-shengyin:before {
  content: "\e61d";
}

.YJSHHT-saoma:before {
  content: "\e61e";
}

.YJSHHT-guanbishengyin:before {
  content: "\e61f";
}

.YJSHHT-yulan:before {
  content: "\e619";
}

.YJSHHT-moban:before {
  content: "\e616";
}

.YJSHHT-a-54yifahuo:before {
  content: "\e613";
}

.YJSHHT-a-55zidingyidingdan:before {
  content: "\e614";
}

.YJSHHT-a-51yichuli:before {
  content: "\e610";
}

.YJSHHT-a-53yizuofei:before {
  content: "\e611";
}

.YJSHHT-a-52daichuli:before {
  content: "\e612";
}

.YJSHHT-kehu:before {
  content: "\e60c";
}

.YJSHHT-fangke:before {
  content: "\e60b";
}

.YJSHHT-a-16yichexiao:before {
  content: "\e726";
}

.YJSHHT-a-22shangchuanwenjian:before {
  content: "\e723";
}

.YJSHHT-a-22biaoqing:before {
  content: "\e724";
}

.YJSHHT-a-22zidonghuifu:before {
  content: "\e725";
}

.YJSHHT-a-14zhongxinfaqidakuan:before {
  content: "\e722";
}

.YJSHHT-a-14xiugaifahuoshijian:before {
  content: "\e720";
}

.YJSHHT-a-14buchajia:before {
  content: "\e721";
}

.YJSHHT-a-16yibohui:before {
  content: "\e71e";
}

.YJSHHT-a-16yitongguo:before {
  content: "\e71f";
}

.YJSHHT-a-14rilibiao:before {
  content: "\e71d";
}

.YJSHHT-yunfeidan:before {
  content: "\e71b";
}

.YJSHHT-buchajiadan:before {
  content: "\e71c";
}

.YJSHHT-a-14hexiaodanxinxi:before {
  content: "\e71a";
}

.YJSHHT-a-16yifahuo:before {
  content: "\e719";
}

.YJSHHT-shangpinzhutuqueshengyangshi:before {
  content: "\e718";
}

.YJSHHT-a-14paixu:before {
  content: "\e717";
}

.YJSHHT-a-18caiwuguanli:before {
  content: "\e6f7";
}

.YJSHHT-a-18chenggong:before {
  content: "\e6f8";
}

.YJSHHT-a-16yituikuan:before {
  content: "\e6f9";
}

.YJSHHT-a-16xuantingwenhao:before {
  content: "\e6fa";
}

.YJSHHT-a-18dianxuanjinxuan:before {
  content: "\e6fb";
}

.YJSHHT-a-16wenhaoneirong:before {
  content: "\e6fc";
}

.YJSHHT-a-16shouhouzhong1:before {
  content: "\e6fd";
}

.YJSHHT-a-18dingdanguanli1:before {
  content: "\e6fe";
}

.YJSHHT-a-16xuanzeshijian:before {
  content: "\e6ff";
}

.YJSHHT-a-16dianpuzhuangxiudexinzengtupian:before {
  content: "\e700";
}

.YJSHHT-a-18fenxiaoguanli1:before {
  content: "\e701";
}

.YJSHHT-a-18dianxuanxuanzhong:before {
  content: "\e702";
}

.YJSHHT-a-16sousuokuangwenhao:before {
  content: "\e703";
}

.YJSHHT-a-16zhankai:before {
  content: "\e704";
}

.YJSHHT-a-18bufenxuanzhong:before {
  content: "\e705";
}

.YJSHHT-a-18jingshi1:before {
  content: "\e706";
}

.YJSHHT-a-18jinxuan:before {
  content: "\e707";
}

.YJSHHT-a-16shouqi:before {
  content: "\e708";
}

.YJSHHT-a-16xuanzeriqi:before {
  content: "\e709";
}

.YJSHHT-a-18shangpinguanli:before {
  content: "\e70a";
}

.YJSHHT-a-18shibai:before {
  content: "\e70b";
}

.YJSHHT-a-16yiguanbi:before {
  content: "\e70c";
}

.YJSHHT-a-18gongzuotai:before {
  content: "\e70d";
}

.YJSHHT-a-16TAByulan:before {
  content: "\e70e";
}

.YJSHHT-a-18kehuguanli:before {
  content: "\e70f";
}

.YJSHHT-a-18shouqicaidanlan:before {
  content: "\e710";
}

.YJSHHT-a-16wenhao1:before {
  content: "\e711";
}

.YJSHHT-a-16shangchuantupianxuanzhong:before {
  content: "\e712";
}

.YJSHHT-a-18dianxuanweixuanzhong:before {
  content: "\e713";
}

.YJSHHT-a-16yihuanhuo:before {
  content: "\e714";
}

.YJSHHT-a-18morentupian1:before {
  content: "\e715";
}

.YJSHHT-a-18shangchengguanli:before {
  content: "\e716";
}

.YJSHHT-a-14bianji:before {
  content: "\e695";
}

.YJSHHT-a-14shangpinzhongtai:before {
  content: "\e696";
}

.YJSHHT-a-16wenhao:before {
  content: "\e698";
}

.YJSHHT-a-16TABtianjiawenda:before {
  content: "\e699";
}

.YJSHHT-a-18morentupian:before {
  content: "\e69a";
}

.YJSHHT-a-16shouhouzhong:before {
  content: "\e69b";
}

.YJSHHT-a-18fenxiaoguanli:before {
  content: "\e69c";
}

.YJSHHT-a-18dingdanguanli:before {
  content: "\e69d";
}

.YJSHHT-a-18jingshi:before {
  content: "\e69e";
}

.YJSHHT-a-18shujukanban:before {
  content: "\e69f";
}

.YJSHHT-a-18weixuan:before {
  content: "\e6a0";
}

.YJSHHT-a-20danchuangguanbiicon:before {
  content: "\e6a1";
}

.YJSHHT-a-20kefuzhongxin:before {
  content: "\e6a2";
}

.YJSHHT-a-20shanchutupian:before {
  content: "\e6a3";
}

.YJSHHT-a-20tongzhizhongxin:before {
  content: "\e6a4";
}

.YJSHHT-a-18sousuokuangsousuo:before {
  content: "\e6a5";
}

.YJSHHT-a-24morentu1:before {
  content: "\e6a6";
}

.YJSHHT-a-30chakandatuguanbi:before {
  content: "\e6a7";
}

.YJSHHT-a-18zhankaicaidanlan:before {
  content: "\e6a8";
}

.YJSHHT-a-18xuanzhong:before {
  content: "\e6a9";
}

.YJSHHT-a-18yingxiaoguanli:before {
  content: "\e6aa";
}

.YJSHHT-a-30xiayizhang:before {
  content: "\e6ab";
}

.YJSHHT-a-30shipinbofang:before {
  content: "\e6ac";
}

.YJSHHT-a-20daochuxiazai:before {
  content: "\e6ad";
}

.YJSHHT-a-46xiayizhangtupian:before {
  content: "\e6ae";
}

.YJSHHT-a-46shangyizhangtupian:before {
  content: "\e6af";
}

.YJSHHT-a-30shangyizhang:before {
  content: "\e6b0";
}

.YJSHHT-a-40bofang:before {
  content: "\e6b1";
}

.YJSHHT-fenyetiao-riqibianjiqiyoujiantou1:before {
  content: "\e6b2";
}

.YJSHHT-fenyetiao-riqibianjiqiyoushuangjiantou:before {
  content: "\e6b3";
}

.YJSHHT-fenyetiao-riqibianjiqizuoshuangjiantou:before {
  content: "\e6b5";
}

.YJSHHT-a-12xiajiantou:before {
  content: "\e6b6";
}

.YJSHHT-a-10xuanzhong:before {
  content: "\e6b7";
}

.YJSHHT-a-10duoxuankuanglidebiaoqianshanchu:before {
  content: "\e6b8";
}

.YJSHHT-a-12hejixuanze:before {
  content: "\e6b9";
}

.YJSHHT-a-12riqifanwei:before {
  content: "\e6ba";
}

.YJSHHT-a-12youjiantou:before {
  content: "\e6bb";
}

.YJSHHT-a-12shangjiantou:before {
  content: "\e6bd";
}

.YJSHHT-a-12xuanzesecaiyangshi:before {
  content: "\e6be";
}

.YJSHHT-a-22shangchuantupianicon:before {
  content: "\e6bf";
}

.YJSHHT-a-12shanchubeizhu:before {
  content: "\e6c0";
}

.YJSHHT-a-14baocun:before {
  content: "\e6c1";
}

.YJSHHT-a-12zuojiantou:before {
  content: "\e6c2";
}

.YJSHHT-a-12mohusousuokuangdexinzeng:before {
  content: "\e6c3";
}

.YJSHHT-a-14chakanmoshi:before {
  content: "\e6c4";
}

.YJSHHT-a-14chakanfuwugongyiheguigetu:before {
  content: "\e6c5";
}

.YJSHHT-a-14daoru:before {
  content: "\e6c6";
}

.YJSHHT-fenyetiao-riqibianjiqizuojiantou:before {
  content: "\e6c7";
}

.YJSHHT-a-14fangkedangan:before {
  content: "\e6c8";
}

.YJSHHT-a-14dingdanweidu:before {
  content: "\e6c9";
}

.YJSHHT-a-14dayin:before {
  content: "\e6ca";
}

.YJSHHT-a-14duizhang:before {
  content: "\e6cb";
}

.YJSHHT-a-14guangdu:before {
  content: "\e6cc";
}

.YJSHHT-a-14bianji1:before {
  content: "\e6cd";
}

.YJSHHT-a-14duozhangtao:before {
  content: "\e6ce";
}

.YJSHHT-a-14bohui:before {
  content: "\e6cf";
}

.YJSHHT-a-14peisongquyu:before {
  content: "\e6d0";
}

.YJSHHT-a-14piliangxinzeng:before {
  content: "\e6d1";
}

.YJSHHT-a-14querenfahuo:before {
  content: "\e6d2";
}

.YJSHHT-a-14jujueshouhou:before {
  content: "\e6d3";
}

.YJSHHT-a-14querendakuan:before {
  content: "\e6d4";
}

.YJSHHT-a-14shangpinzhongtai1:before {
  content: "\e6d5";
}

.YJSHHT-a-14tixian:before {
  content: "\e6d6";
}

.YJSHHT-a-14kuaidibieming:before {
  content: "\e6d7";
}

.YJSHHT-a-14tongguo:before {
  content: "\e6d8";
}

.YJSHHT-a-14quxiao:before {
  content: "\e6d9";
}

.YJSHHT-a-14shaixuan:before {
  content: "\e6da";
}

.YJSHHT-a-14querenshouhuo:before {
  content: "\e6db";
}

.YJSHHT-a-14tongyishouhou:before {
  content: "\e6dc";
}

.YJSHHT-a-14zhiding:before {
  content: "\e6dd";
}

.YJSHHT-a-14zhidi:before {
  content: "\e6de";
}

.YJSHHT-a-16TABtianjiawenda1:before {
  content: "\e6df";
}

.YJSHHT-a-14xuanzekuang-xuanzeriqishijiankuangxuantingshanchuneirong:before {
  content: "\e6e0";
}

.YJSHHT-a-16fenlei:before {
  content: "\e6e1";
}

.YJSHHT-a-16TABshangchuantupian:before {
  content: "\e6e2";
}

.YJSHHT-a-14shangpinweidu:before {
  content: "\e6e3";
}

.YJSHHT-a-14xinzeng:before {
  content: "\e6e4";
}

.YJSHHT-a-16TABxinzengfenlei:before {
  content: "\e6e5";
}

.YJSHHT-a-16gengduocaozuo:before {
  content: "\e6e6";
}

.YJSHHT-a-14quanxianshouqi:before {
  content: "\e6e7";
}

.YJSHHT-a-14daochu:before {
  content: "\e6e8";
}

.YJSHHT-a-16mohusousuokuangdechazhao:before {
  content: "\e6e9";
}

.YJSHHT-a-16mohusousuoxialakuangdexuanzhong:before {
  content: "\e6ea";
}

.YJSHHT-a-16shipin:before {
  content: "\e6eb";
}

.YJSHHT-a-16tuichu:before {
  content: "\e6ec";
}

.YJSHHT-a-16genggaifahuoshijian:before {
  content: "\e6ed";
}

.YJSHHT-a-16tabgengduocaozuodeshanchu:before {
  content: "\e6ee";
}

.YJSHHT-a-16shezhi:before {
  content: "\e6ef";
}

.YJSHHT-a-16wodetupian:before {
  content: "\e6f0";
}

.YJSHHT-a-16xinzengtianjia:before {
  content: "\e6f1";
}

.YJSHHT-a-16shangchuantupian:before {
  content: "\e6f2";
}

.YJSHHT-a-14tixianjilu:before {
  content: "\e6f3";
}

.YJSHHT-a-16tabgengduocaozuodebianji:before {
  content: "\e6f4";
}

.YJSHHT-a-16tuozhuaipaixu:before {
  content: "\e6f5";
}

.YJSHHT-a-16yishouhou:before {
  content: "\e6f6";
}
